version: '3.8'
services:
# PostgreSQL Service
  postgres:
    image: postgres:17.5-alpine3.21
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - jitterbit-network
  # pgAdmin Service
  pgadmin:
    image: dpage/pgadmin4:9.7
    ports:
      - "8081:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
    networks:
      - jitterbit-network

volumes:
  postgres_data:
  pgadmin_data:

networks:
  jitterbit-network: